In [0]:
import pandas as pd
import datetime

In [0]:
df = spark.read.csv("/FileStore/tables/retail.csv", header=True, sep=",").toPandas()

In [0]:
df["invoice_date"] = df["invoice_date"].astype("datetime64[ns]")

(
    df
    .groupby('invoice_no')
    .agg(n        = ('stock_code', 'count'), 
         datetime = ('invoice_date', 'first'))
    .reset_index()
    .sort_values('n', ascending=False)
    .head(10)
    .assign(date = lambda x: x['datetime'].dt.date)
)

,invoice_no,n,datetime,date
18141,573585,1114,2011-10-31 14:41:00,2011-10-31
21897,581219,749,2011-12-08 09:28:00,2011-12-08
22032,581492,731,2011-12-09 10:03:00,2011-12-09
21645,580729,721,2011-12-05 17:24:00,2011-12-05
10713,558475,705,2011-06-29 15:58:00,2011-06-29
21164,579777,687,2011-11-30 15:13:00,2011-11-30
21895,581217,676,2011-12-08 09:20:00,2011-12-08
576,537434,675,2010-12-06 16:57:00,2010-12-06
21646,580730,662,2011-12-05 17:28:00,2011-12-05
881,538071,652,2010-12-09 14:09:00,2010-12-09

In [0]:
df["quantity"] = df["quantity"].astype("int")
df["unit_price"] = df["unit_price"].str.replace(',','.').astype("float")

In [0]:
revenue_by_invoice_df = (
    df
    .assign(total_price = lambda x: x['quantity'] * x['unit_price'])
    .groupby('invoice_no')
    .agg(revenue = ('total_price', 'sum'))
    .reset_index()
)

revenue_by_invoice_df

,invoice_no,revenue
0,536365,139.12
1,536366,22.20
2,536367,278.73
3,536368,70.05
4,536369,17.85
...,...,...
25895,C581484,-168469.60
25896,C581490,-32.53
25897,C581499,-224.69
25898,C581568,-54.75
25899,C581569,-7.50